/* Typography styles */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-bold {
  font-weight: 500;
}

.text-base {
  font-size: 1.8rem;
}

.text-sm {
  font-size: 1.5rem;
}

.text-md {
  font-size: clamp(2.4rem, 6.4vw, 4rem);
}

.text-lg {
  font-size: clamp(3.2rem, 8.533vw, 5.6rem);
}

/* Color variables */

:root {
  --primary-blue: hsl(246, 80%, 60%);
  --primary-light-red-work: hsl(15, 100%, 70%);
  --primary-soft-blue: hsl(195, 74%, 62%);
  --primary-light-red-study: hsl(348, 100%, 68%);
  --primary-lime-green: hsl(145, 58%, 55%);
  --primary-violet: hsl(264, 64%, 52%);
  --primary-soft-orange: hsl(43, 84%, 65%);

  --neutral-very-dark-blue: hsl(226, 43%, 10%);
  --neutral-dark-blue: hsl(235, 45%, 20%);
  --neutral-desaturated-blue: hsl(235, 45%, 61%);
  --neutral-pale-blue: hsl(236, 100%, 87%);
  --neutral-white: hsl(0, 0%, 100%);
}

/* CSS boilerplate */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
  background: var(--neutral-very-dark-blue);
  color: var(--neutral-white);
}

body {
  min-height: 100vh;
}

/* User Utility Classes */

.user-main {
  background: var(--neutral-dark-blue);
  border-radius: 1.5rem;
}
.user-background {
  background: var(--primary-blue);
  border-radius: 1.5rem;
  display: flex;
  gap: 2rem;
  padding: 3.5rem 0 3.5rem 3.2rem;
}

.user-background img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: 3px solid var(--neutral-white);
}

.user-background h1 {
  color: var(--neutral-pale-blue);
  align-self: center;
}

.user-background h1 span {
  color: var(--neutral-white);
}

.user-buttons {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 2.8rem;
}

/* Utility Classes */

.container {
  border-radius: 1.5rem;
  height: 16rem;
  display: grid;
  align-items: end;
  overflow: hidden;
  position: relative;
}

.icon {
  position: absolute;
  align-self: start;
  justify-self: end;
}

.work-background {
  background: var(--primary-light-red-work);
  border-radius: 1.5rem;
}

.play-background {
  background: var(--primary-soft-blue);
  border-radius: 1.5rem;
}

.study-background {
  background: var(--primary-light-red-study);
  border-radius: 1.5rem;
}

.exercise-background {
  background: var(--primary-lime-green);
  border-radius: 1.5rem;
}

.social-background {
  background: var(--primary-violet);
  border-radius: 1.5rem;
}

.self-care-background {
  background: var(--primary-soft-orange);
  border-radius: 1.5rem;
}

.container-main {
  background: var(--neutral-dark-blue);
  border-radius: 1.5rem;
  height: 12.2rem;
  z-index: 1;
}

button {
  border: none;
  background: none;
  color: var(--neutral-desaturated-blue);
}

button:hover {
  cursor: pointer;
}

button:active {
  color: var(--neutral-white);
}

/* Custom Styling */
main {
  width: min(87.2%, 111rem);
  display: grid;
  gap: 2.4rem;
  margin: 8.1rem auto;
}

.work-icon {
  transform: translate(-2rem, -1rem);
}

.play-icon {
  transform: translate(-2rem, -0.5rem);
}

.study-icon {
  transform: translate(-2rem, -0.7rem);
}

.exercise-icon {
  transform: translate(-2rem, -0.1rem);
}

.social-icon {
  transform: translate(-2rem, -1.5rem);
}

.self-care-icon {
  transform: translate(-2rem, -1.1rem);
}

@media screen and (min-width: 768px) {
  main {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .container {
    height: -webkit-fill-available;
  }

  .user-container {
    grid-row: 1 / 3;
    height: 51.8rem;
  }

  .container-main {
    height: 19.9rem;
  }
}
