/* Typography styles */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-bold {
  font-weight: 500;
}

.text-base {
  font-size: 1.8rem;
}

.text-sm {
  font-size: 1.5rem;
}

.text-md {
  font-size: clamp(2.4rem, 6.4vw, 4rem);
}

.text-lg {
  font-size: clamp(3.2rem, 8.533vw, 5.6rem);
}

/* Color variables */

:root {
  --primary-blue: hsl(246, 80%, 60%);
  --primary-light-red-work: hsl(15, 100%, 70%);
  --primary-soft-blue: hsl(195, 74%, 62%);
  --primary-light-red-study: hsl(348, 100%, 68%);
  --primary-lime-green: hsl(145, 58%, 55%);
  --primary-violet: hsl(264, 64%, 52%);
  --primary-soft-orange: hsl(43, 84%, 65%);

  --neutral-very-dark-blue: hsl(226, 43%, 10%);
  --neutral-dark-blue: hsl(235, 46%, 20%);
  --neutral-desaturated-blue: hsl(235, 45%, 61%);
  --neutral-pale-blue: hsl(236, 100%, 87%);
}

/* CSS boilerplate */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
  background: var(--neutral-very-dark-blue);
  color: hsl(0, 0%, 100%);
}

body {
  min-height: 100vh;
}

/* Utility Classes */

.container {
  border: 1px solid red;
  border-radius: 1.5rem;
}

.user-background {
  background: var(--primary-blue);
}

.work-background {
  background: var(--primary-light-red-work);
}

.play-background {
  background: var(--primary-soft-blue);
}

.study-background {
  background: var(--primary-light-red-study);
}

.exercise-background {
  background: var(--primary-lime-green);
}

.social-background {
  background: var(--primary-violet);
}

.self-care-background {
  background: var(--primary-soft-orange);
}
/* Custom Styling */
